.button-element {
  border-width: 0;
  border-radius: 26px;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    filter: brightness(0.7);
  }
  &:focus {
    outline: 2;
    outline-color: var(--color-extra2);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.primary {
  color: white;
  background-color: var(--color-primary);
}

.secondary {
  color: white;
  background-color: var(--color-secondary);
}

.accent {
  color: white;
  background-color: var(--color-accent);
}

.outline {
  background-color: transparent;
  border: 2px var(--color-accent) solid;
  color: var(--color-accent);
}

.button-s {
  font-size: var(--font-size-s);
  padding: 8px 12px;
}

.button-m {
  font-size: var(--font-size-main);
  padding: 16px 24px;
}

.button-l {
  font-size: var(--font-size-l);
  padding: 18px 28px;
}
