:root {
  --color-primary: #d48fbb;
  --color-secondary: #f49db5;
  --color-accent: #f55c96;
  --color-extra1: #f1d0f0;
  --color-extra2: #9e052b;

  --font-size-l: 18px;
  --font-size-main: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
}
