@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner-rotate 800ms linear infinite;
  color: var(--color-secondary);
  width: 12px;
  height: 12px;
}

.spinner-size--s {
  width: 12px;
  height: 12px;
}

.spinner-size--m {
    width: 20px;
    height: 20px;
  }

  .spinner-size--l {
    width: 34px;
    height: 34px;
  }