.palette {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.accent {
  background-color: var(--color-accent);
}

.extra1 {
  background-color: var(--color-extra1);
}
.extra2 {
  background-color: var(--color-extra2);
}
